@charset "utf-8";
/* CSS Document */
 
 
#ipadportrait
{
          z-index: 1;
          width: 960px;
          min-height: auto;
          overflow:hidden;
          background-image: none;
          border-style: none;
          border-color: transparent;
          background-color: #FFFFFF;
          padding-bottom: 0px;
          margin-left: auto;
          margin-right: auto;
}
